[Unit]
Description=Sextant Resolver
After=redis-server.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=localuser
ExecStart=/opt/sextant/resolver
WorkingDirectory=/opt/sextant

[Install]
WantedBy=multi-user.target